<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/fragments/fragments.html :: title}">
    <title></title>
</head>
<body>
<header th:replace="~{/fragments/fragments.html :: header}"></header>
<div class="main-body">
    <p>Logged user: <span sec:authentication="name">Bob</span></p>
    <p>Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span></p>
</div>
<footer th:replace="~{/fragments/fragments.html :: footer}"></footer>
</body>
</html>
