<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<footer id="footer">
    <div class="p-3 mb-2 bg-secondary-subtle text-emphasis-secondary">
        <div class="pagination">
            <div>✆ do not disturb</div>
            <div>
                <a target="_blank" href="https://hophey.ua/cherkasi/rozlyvne/pyvo/">
                    🍺
                </a> Cipher Algorithm Corporation
            </div>
            <div>Ⓒ2024 All Rights Reserved</div>
        </div>
    </div>
</footer>
</body>
</html>
