<!doctype html>
<html lang="en">
<head th:replace="~{/fragments/fragments.html :: title}">
    <title>Cipher-Maker | Algorithms</title>
</head>

<body>
<div th:replace="~{/fragments/fragments.html :: header}"></div>
    <div id="algorithm">
        <div>
            <form th:action="@{/algorithms}" th:object="${message}" method="post">
                <div style="margin-bottom: 10px">
                    <h3>Choose user id:</h3>
                    <label>
                        <input class="form-control form" type="text" name="userId" placeholder="Enter id" required>
                    </label>
                </div>
                <h3>Select algorithm:</h3>
                <div>
                    <input class="form-check-input" type="radio" name="algorithm" id="caesar" value="caesar" checked>
                    <label class="form-check-label" for="caesar">
                        Caesar algorithm
                    </label>
                </div>
                <div>
                    <input class="form-check-input" type="radio" name="algorithm" id="vigenere" value="vigenere"
                           checked>
                    <label class="form-check-label" for="vigenere">
                        Vigenère algorithm
                    </label>
                </div>
                <h3>Select operation:</h3>
                <div>
                    <input class="form-check-input" type="radio" name="operation" id="encrypt" value="encrypt" checked>
                    <label class="form-check-label" for="encrypt">
                        Encrypt
                    </label>
                </div>
                <div>
                    <input class="form-check-input" type="radio" name="operation" id="decrypt" value="decrypt" checked>
                    <label class="form-check-label" for="decrypt">
                        Decrypt
                    </label>
                </div>
                <div style="margin-top: 10px">
                    <h3>Enter a message to encrypt or decrypt it:</h3>
                    <label>
                        <input class="form-control form" type="text" name="inputMessage" placeholder="Enter message here" required>
                    </label>
                </div>
                <button class="btn btn-outline-primary" type="submit">Submit</button>
            </form>
            <section th:if="${message != null}">
                <h3 th:text="'Your message ' + ${message.operation.toLowerCase()} + 'ed:'"></h3>
                <p th:text="'\''
        + ${message.originalMessage}
        + '\' was '
        + ${message.operation.toLowerCase()}
        + 'ed via '
        + ${message.algorithm.toLowerCase()}
        + ' into \''
        + ${message.encryptedMessage}
        + '\''">
                </p>
            </section>
        </div>
        <div>
            <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExMzhyYTRpOTkzM3l2Y3Z6bHlqNjBnNGdsZTZpdGZpaHNqeHI1eGo1NCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/OdHm8u1mSJp7d2tohB/giphy.gif"
                 alt="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExOHl1ODUycDF2ZWE5OXYxZGpmaWp6aWRqa205ZnU3c2ZuM2NwOG01eSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/RxnFDVF18mXoNcC8Ff/giphy.gif">
        </div>
    </div>
<div th:replace="~{/fragments/fragments.html :: footer}"></div>
</body>

</html>
