<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/base_layout}">
<head>
    <title>Algorithms</title>
</head>

<body>
<section layout:fragment="content">
    <div id="algorithm">
    <form th:action="@{/algorithms}" th:object="${message}" method="post">
        <h3>Cipher Method:</h3>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="algorithm" id="caesar" value="caesar" checked>
            <label class="form-check-label" for="caesar">
                Caesar algorithm
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="algorithm" id="vigenere" value="vigenere" checked>
            <label class="form-check-label" for="vigenere">
                Vigenère algorithm
            </label>
        </div>
        <h3>Mode:</h3>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="method" id="encrypt" value="encrypt" checked>
            <label class="form-check-label" for="encrypt">
                Encrypt
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="method" id="decrypt" value="decrypt" checked>
            <label class="form-check-label" for="decrypt">
                Decrypt
            </label>
        </div>

        <label>Enter a message to encrypt or decrypt it:
            <input type="text" name="inputMessage" placeholder="Enter message here">
        </label>
        <button class="btn btn-outline-primary" type="submit">Submit</button>
    </form>
    <section th:if="${message != null}">
        <h2>Last Submitted Message</h2>
        <p th:text="'\''
        + ${message.originalMessage}
        + '\' was '
        + ${message.operation.toLowerCase()}
        + 'ed via '
        + ${message.algorithm.toLowerCase()}
        + ' into \''
        + ${message.encryptedMessage}
        + '\''">
        </p>
    </section>
    </div>
</section>
</body>

</html>
