<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/base_layout}">
<head>
    <title>Algorithm</title>
</head>

<body>
<section layout:fragment="content">
    <form action="#" th:action="@{/algorithms}" th:object="${message}" method="post">
        <label>Message:
        <input type="text" th:field="*{originalMessage}"/>
        </label>
        <label>Algorithm:
            <textarea th:field="*{algorithm}"></textarea>
        </label>
        <label>Cipher Operation:
            <textarea th:field="*{operation}"></textarea>
        </label>
        <button type="submit">Submit</button>
    </form>
</section>
</body>

</html>
