<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/base_layout}">
<head>
    <title>Cipher-Maker | History</title>
</head>

<body>
<section layout:fragment="content">
    <h1>All history</h1>
    <div id="buttons">
        <div>
            <form class="form" th:action="@{/history}" method="get">
                <button class="btn btn-outline-primary" type="submit" name="param" value="vigenere">Get Vigenère
                    Messages
                </button>
            </form>
            <form class="form" th:action="@{/history}" method="get">
                <button class="btn btn-outline-primary" type="submit" name="param" value="caesar">Get Caesar
                    Messages
                </button>
            </form>
            <form class="form" th:action="@{/history/statistics}" method="get">
                <button class="btn btn-outline-primary" type="submit" name="statistics" value="statistics">Show
                    statistics
                </button>
            </form>
        </div>
        <div>
            <form class="form-inline" th:action="@{/history}" method="get">
                <div class="textAlign form-group">
                    <label class="dateText" for="dateFrom">From:</label>
                    <input class="form-control form" type="datetime-local" id="dateFrom" name="dateFrom" required>
                </div>
                <div class="textAlign form-group">
                    <label class="dateText" for="dateTo">To:</label>
                    <input class="form-control form" type="datetime-local" id="dateTo" name="dateTo" required>
                </div>
                <div class="textAlign">
                    <button class="btn btn-outline-primary" type="submit">Get by date</button>
                </div>
            </form>
        </div>
    </div>
    <table>
        <tr>
            <th>UserID</th>
            <th>Original message</th>
            <th>Modified message</th>
            <th>Algorithm</th>
            <th>Operation</th>
            <th>Date</th>
        </tr>
        <tr th:each="message : ${messages}">
            <td th:text="*{message.userId}"></td>
            <td th:text="*{message.originalMessage}"></td>
            <td th:text="*{message.encryptedMessage}"></td>
            <td th:text="*{message.algorithm}"></td>
            <td th:text="*{message.operation}"></td>
            <td th:text="*{message.date}"></td>
        </tr>
    </table>
</section>
</body>

</html>
