<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/base_layout}">
<head>
    <title>History</title>
</head>

<body>
<section layout:fragment="content">
    <h1>All history</h1>
    <div id="buttons">

        <form th:action="@{/history}" method="get">
            <button class="btn btn-outline-primary" type="submit" name="param" value="caesar">Get Caesar Messages</button>
        </form>
        <form th:action="@{/history}" method="get">
            <button class="btn btn-outline-primary" type="submit" name="param" value="vigenere">Get Vigenère Messages</button>
        </form>

        <form th:action="@{/history}" method="get">
            <label for="dateFrom">From:</label>
            <input type="datetime-local" id="dateFrom" name="dateFrom" required>

            <label for="dateTo">To:</label>
            <input type="datetime-local" id="dateTo" name="dateTo" required>

            <button class="btn btn-outline-primary" type="submit">Get by Date</button>
        </form>
    </div>
    <table>
        <tr>
            <th>UserID</th>
            <th>Original message</th>
            <th>Modified message</th>
            <th>Algorithm</th>
            <th>Operation</th>
            <th>Date</th>
        </tr>
        <tr th:each="message : ${messages}">
            <td th:text="*{message.userId}"></td>
            <td th:text="*{message.originalMessage}"></td>
            <td th:text="*{message.encryptedMessage}"></td>
            <td th:text="*{message.algorithm}"></td>
            <td th:text="*{message.operation}"></td>
            <td th:text="*{message.date}"></td>
        </tr>
    </table>
</section>
</body>

</html>
