<!doctype html>
<html lang="en">
<head th:replace="~{/fragments/fragments.html :: title}">
    <title>Users</title>
</head>

<body>
<div th:replace="~{/fragments/fragments.html :: header}"></div>
<h1>Users</h1>
<div id="users">
    <div th:each="user : ${users}">
        <span>User with id '</span>
        <strong th:text="*{user.userId}"></strong>
        <span>' and name '</span>
        <strong th:text="*{user.username}"></strong>
        <span>'</span>
    </div>
</div>

<div th:replace="~{/fragments/fragments.html :: footer}"></div>
</body>

</html>
