<!doctype html>
<html lang="en">
<head th:replace="~{/fragments/fragments.html :: title}">
    <title></title>
</head>
<body>
<header th:replace="~{/fragments/fragments.html :: header}"></header>
<div class="main-body">
<h1>First message live and more message</h1>
<h2>Added new tag</h2>
<h1>First message live and more message</h1>
<h2>Added new tag</h2>
<h1>First message live and more message</h1>
<h2>Added new tag</h2>
<h1>First message live and more message</h1>
<h2>Added new tag</h2>
<h1>First message live and more message</h1>
<h2>Added new tag</h2>
<h1>First message live and more message</h1>
<h2>Added new tag</h2>
<h1>First message live and more message</h1>
<h2>Added new tag</h2>
<h1>First message live and more message</h1>
<h2>Added new tag</h2>
</div>
<footer th:replace="~{/fragments/fragments.html :: footer}"></footer>
</body>
</html>
